<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Books Management Web Application</display-name>

	<context-param>
		<param-name>jdbcURL</param-name>
		<param-value>jdbc:mysql://localhost:3306/Livraria</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcUsername</param-name>
		<param-value>root</param-value>
	</context-param>

	<context-param>
		<param-name>jdbcPassword</param-name>
		<param-value>123456</param-value>
	</context-param>

	<servlet>
		<servlet-name>LivroServlet</servlet-name>
		<servlet-class>ufu.ppi.gustavo.livraria.servlet.LivroServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LivroServlet</servlet-name>
		<url-pattern>/livro/*</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>GeneroServlet</servlet-name>
		<servlet-class>ufu.ppi.gustavo.livraria.servlet.GeneroServlet</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>GeneroServlet</servlet-name>
		<url-pattern>/genero/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PessoaServlet</servlet-name>
		<servlet-class>ufu.ppi.gustavo.livraria.servlet.PessoaServlet</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>PessoaServlet</servlet-name>
		<url-pattern>/pessoa/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CompraServlet</servlet-name>
		<servlet-class>ufu.ppi.gustavo.livraria.servlet.CompraServlet</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>CompraServlet</servlet-name>
		<url-pattern>/compra/*</url-pattern>
	</servlet-mapping>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/Error.jsp</location>
	</error-page>
</web-app>